#header{
    color: white;
}

#user{
    position: absolute;
    top: 0px;
    left: 220px;
}
#search{
    position: absolute;
    top: 6px;
    right: 10px;
}
body{
    background: #2E363F;
}
#breadcrumb{
    background-color: #fff;
}
#content{
    margin-left: 220px;
    background: #eeeeee;
}
#content-header{
    margin-top: -15px;
}
.dash{
    padding: 10px;
    /* background-color: pink; */
}
#side{
    display: block;
    position: absolute;
}
.widget{
    color: black;
    background: #F9F9F9;
    border:  1px solid #CDCDCD
    
}
.widget-title{
    background: #efefef;
}
img{
    height: 10px;
    width: 100%;
}
.profile{
    padding: 20px;
    width: 100%;
    
}
.profile-box{
    padding: 0px;
    border:  1px solid #CDCDCD
    
}
.profile-body{
    /* height: 50px; */
    border:  1px solid #CDCDCD;
    
    background: #F9F9F9;
}
#map-sample{
    margin-top: 10px;
    height: 200px;
    border:  1px solid #CDCDCD;
    
    background: #F9F9F9;
}