{% extends 'base.html' %}
{% load static %}
{% block content %}
{{block.super}}
{% load bootstrap3 %}

<div id="sidebar">
    <ul id="side">
        <li class="dash"><a href="">Dashboard</a></li>
        <li class="dash"><a href="">chart</a></li>
        <li class="dash"><a href="">Dashboard</a></li>
        <li class="dash"><a href="">Dashboard</a></li>            
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="">Home</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="quick">
                
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}{{block.super}}
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock %}