<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="header">
        <h1>David Admin</h1>
    </div>
    <div class="contaier">

        <div class="navbar navbar-inverse" id="user">
            <ul class="nav navbar-nav">
                <!-- <li><a href="">welcome User</a></li> -->
                <li><a href="">Messages</a></li>
                {% if user.is_authenticated %}
                <li><a href="/driver/edit_profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/accounts/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="search">
        <input type="text" placeholder="search here...">  
    </div>
    <div id="sidebar">
        <ul id="side">
            <li class="dash"><a href="">Dashboard</a></li>
            <li class="dash"><a href="">chart</a></li>
            <li class="dash"><a href="">Dashboard</a></li>
            <li class="dash"><a href="">Dashboard</a></li>            
        </ul>
    </div>
</body>
</html>