<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="header">
        <h1>David Admin</h1>
    </div>
    <div class="contaier">

        <div class="navbar navbar-inverse" id="user">
            <ul class="nav navbar-nav">
                <li><a href="">welcome User</a></li>
                <li><a href="">Messages</a></li>
                <li><a href="">logout</a></li>
            </ul>
        </div>
    </div>
</body>
</html>